.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.btn-tec {
    background-color: rgb(240, 83, 33);
    color: #fff;
}

.btn-light:hover {
    background-color: rgb(240, 83, 33);
    color: #fff;
}

#poster {
    background-color: rgb(240, 83, 33);
    color: #fff;
}