<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Mes annonces</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item">Profil</li>
                <li class="breadcrumb-item active">Favoris</li>
            </ol>
        </nav>
    </div>
    <p-toast></p-toast>
    <section class="section annonces row">
        <div class="card mx-2" style="width: 18rem;" *ngFor="let p of posts">
            <div class="card-body">
                <span class="d-flex justify-content-between">
                    <h5 class="breadcrumb">{{p.titre}}</h5>
                    <span><i style="color: rgb(240, 83, 33);" class="bi bi-heart-fill" (click)="toogleFavoris(p.id)"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="retirer des favoris"></i></span>
                </span>

                <p class="card-text breadcrumb">{{p.description.substring(0,30)}}..</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item fw-light fst-italic fs-6"><span
                        class="badge bg-primary">{{p.categorie.nom}}</span></li>
                <li class="list-group-item fw-light fst-italic fs-6"><span class="badge bg-warning">{{p.type}}</span>
                </li>
                <li class="list-group-item fw-light fst-italic fs-6">Publié le {{p.datePublication | date:'d MMMM y'}}
                </li>
            </ul>
            <div class="card-body d-flex justify-content-around">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
                    (click)="setPostToConsult(p)">consulter</button>
            </div>
        </div>
    </section>
</main>

<!-- consulter annonce -->
<div *ngIf="postToConsult" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Détails de l'annonce</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <span class="d-flex justify-content-between">
                <h5 class="breadcrumb">{{postToConsult.titre}}</h5>
                <span><i style="color: rgb(240, 83, 33);" class="bi bi-heart-fill"
                        (click)="toogleFavoris(postToConsult.id)" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="retirer des favoris"></i></span>
            </span>
        </div>

        <p class="card-text breadcrumb">{{postToConsult.description}}</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item fw-light fst-italic fs-6"><span
                    class="badge bg-primary">{{postToConsult.categorie.nom}}</span></li>
            <li class="list-group-item fw-light fst-italic fs-6"><span
                    class="badge bg-warning">{{postToConsult.type}}</span>
            </li>
            <li class="list-group-item fw-light fst-italic fs-6">Publié le {{postToConsult.datePublication | date:'d
                MMMM
                y'}}
            </li>
        </ul>
    </div>

</div>